Repository ThugDev/PR-Deliver, pull requests merged in 2024-09, with the labels that each got.

#4 landing page publishing
  .github/pull_request_template.md
  apis/.gitkeep
  app/_components/auth-login-button.tsx
  app/_components/description.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/common/.gitkeep
  components/layout/footer.tsx
  components/layout/header.tsx
  components/layout/layout.tsx
  constants/.gitkeep
  hook/.gitkeep
  libs/.gitkeep
  public/dark/icons/alert.svg
  public/dark/icons/github.svg
  public/dark/icons/user.svg
  public/dark/images/logo.svg
  public/fonts/Pretendard-Bold.woff
  public/fonts/Pretendard-Light.woff
  public/fonts/Pretendard-Medium.woff
  public/fonts/Pretendard-Regular.woff
  public/fonts/Pretendard-SemiBold.woff
  public/icons/eye.svg
  public/icons/moon.svg
  public/icons/sun.svg
  public/images/octo-cat.png
  public/light/icons/alert.svg
  public/light/icons/github.svg
  public/light/icons/register.svg
  public/light/icons/user.svg
  public/light/images/logo.svg
  styles/color.ts
  styles/font.ts
  tailwind.config.ts
  type/.gitkeep
  utils/.gitkeep
Labels: ✨ initials, 🧚🏻 style

#5 [🟢] Common Tab Layout
  app/repository/page.tsx
  components/common/tab-layout.tsx
  components/common/tab-menu.tsx
  components/common/type.ts
Labels: 🟢 feat, 🧚🏻 style

#6 [🟢] common step template
  app/test/page.tsx
  components/common/.gitkeep
  components/common/step-template.tsx
  components/common/type.ts
  components/layout/footer.tsx
  components/layout/header.tsx
  components/layout/layout.tsx
  constants/.gitkeep
  constants/steps/github.ts
  constants/type.ts
  public/images/steps/repo/01.jpg
  public/images/steps/repo/02.jpg
  public/images/steps/repo/03.jpg
  public/images/steps/web-hook/github/01.jpg
  public/images/steps/web-hook/github/02.jpg
  public/images/steps/web-hook/github/03.jpg
  public/images/steps/web-hook/github/04.jpg
  public/images/steps/web-hook/messanger/01.jpg
  public/images/steps/web-hook/messanger/02.jpg
  public/images/steps/web-hook/messanger/03.jpg
  public/images/steps/web-hook/messanger/04.jpg
Labels: 🟢 feat, 🧚🏻 style

#8 [🟢/🎁] : Common Input Component and tab menu style refactor
  app/repository/page.tsx
  components/common/custom-input.tsx
  components/common/tab-layout.tsx
  components/common/tab-menu.tsx
  components/common/type.ts
  package-lock.json
  package.json
  styles/color.ts
Labels: 🟢 feat, 🧚🏻 style, 💡 refactor

#7 [🟢/🎁] : common button component
  app/test/page.tsx
  components/common/button.tsx
  components/common/type.ts
  styles/button.css
Labels: 🟢 feat, 🧚🏻 style

#9 [🎁] : webhook 등록 페이지(github/messenger) 퍼블리싱
  app/(webhook)/github/page.tsx
  app/(webhook)/messenger/_components/method-tab.tsx
  app/(webhook)/messenger/_components/register-tab.tsx
  app/(webhook)/messenger/page.tsx
  app/_components/description.tsx
  app/page.tsx
  app/repository/page.tsx
  app/test/page.tsx
  components/common/tab-layout.tsx
  components/common/tab-menu.tsx
  components/common/type.ts
  components/layout/tab/page-desc.tsx
  components/layout/tab/tab-layout.tsx
  components/layout/tab/tab-menu.tsx
  components/layout/tab/type.ts
  constants/steps/messagener.ts
  public/dark/icons/github.svg
  public/light/icons/github.svg
  public/light/icons/message.svg
  public/light/icons/webhook.svg
  styles/button.css
Labels: 🧚🏻 style, 🔖 Rename
